{% extends "base.html" %}

{% block title %} - WebOptimizer{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb lead">
    <ul class="breadcrumb-animation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="display-3 lead wow fadeInDown" data-wow-delay="0.1s">Our Testimonial</h1>
            <ol class="breadcrumb justify-content-center lead wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-primary">Testimonial</li>
            </ol>
    </div>
</div>
<!-- Header End -->


<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5 bg-white">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <h4 class="text-primary">Testimonial</h4>
            <h1 class="display-5 lead">What Our Client Say About Us</h1>
            <p class="lead">Dolor sit amet consectetur, adipisicing elit. Ipsam, beatae maxime. Vel animi eveniet
                doloremque reiciendis soluta iste provident non rerum illum perferendis earum est architecto dolores
                vitae quia vero quod incidunt culpa corporis, porro doloribus. Voluptates nemo doloremque cum.
            </p>
        </div>
        <div class="testimonial-carousel owl-carousel wow zoomInDown" data-wow-delay="0.2s">
            <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-1.jpg' alt=''>">
                <div class="testimonial-inner text-center p-5">
                    <div class="d-flex align-items-center justify-content-center lead">
                        <div class="testimonial-inner-img border border-primary border-3 me-4"
                            style="width: 100px; height: 100px; border-radius: 50%;">
                            <img src="img/testimonial-img-1.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div>
                            <h5 class="mb-2">John Abraham</h5>
                            <p class="lead">New York, USA</p>
                        </div>
                    </div>
                    <p class="fs-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis
                        tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut
                        quidem laudantium tempora. Minima, saepe earum!
                    </p>
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-2.jpg' alt=''>">
                <div class="testimonial-inner text-center p-5">
                    <div class="d-flex align-items-center justify-content-center lead">
                        <div class="testimonial-inner-img border border-primary border-3 me-4"
                            style="width: 100px; height: 100px; border-radius: 50%;">
                            <img src="img/testimonial-img-2.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div>
                            <h5 class="mb-2">John Abraham</h5>
                            <p class="lead">New York, USA</p>
                        </div>
                    </div>
                    <p class="fs-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis
                        tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut
                        quidem laudantium tempora. Minima, saepe earum!
                    </p>
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-3.jpg' alt=''>">
                <div class="testimonial-inner text-center p-5">
                    <div class="d-flex align-items-center justify-content-center lead">
                        <div class="testimonial-inner-img border border-primary border-3 me-4"
                            style="width: 100px; height: 100px; border-radius: 50%;">
                            <img src="img/testimonial-img-3.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div>
                            <h5 class="mb-2">John Abraham</h5>
                            <p class="lead">New York, USA</p>
                        </div>
                    </div>
                    <p class="fs-7">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores nemo facilis
                        tempora esse explicabo sed! Dignissimos quia ullam pariatur blanditiis sed voluptatum. Totam aut
                        quidem laudantium tempora. Minima, saepe earum!
                    </p>
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                            <i class="fas fa-star text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}